<html>
	<head>
		<title>Stylo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/home.css">
		<link rel="stylesheet" href="css/profile.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="/js/manage.js"></script>

	</head>
	<body class="w3-theme-l5">
			<header class="w3-bar w3-card w3-theme">
			  <h1 class="myHeader">Manage Favorite Locations</h1>
			</header>

			<br>
		<div class="container text-center ">
		<!-- Favorites List -->
		<div class="list-group">

				{{#each locs}}
					{{#if name}}
					<div id="mySelect">
						<div class="card">

							<!-- <p><h4>{{name}}</h4> </p> -->
							<p><h4>{{name}}</h4> </p>
							<div>{{description}}</div>
							<div>{{hours}}</div>
							<div>{{address}}</div>
							<div>{{seating}}</div>
							<br>
						</div>
						<!-- <a class="w3-button w3-hover-teal" onclick="myFunction()">Delete</a> -->

					<br>
					</div>
					<br>
					{{/if}}
	 			{{/each}}

							<!-- Add Option -->

					<!-- Add option -->

					<!-- <button data-toggle="collapse" data-target="#demo" class="w3-button w3-hover-teal">Edit</button>
					<br>
					<br>
						<div id="demo" class="collapse">
							<form id="addFavorite" role="form" method="get" action="/addFavorite">
				    		<div class="form-group">
				      		<label for="name">Location</label>
				      		<input type="text" class="form-control" id="city" placeholder="Name of location" name="locName">
				    		</div>
				    		<input type="submit" id="submitBtn" class="w3-button w3-hover-teal " value="Add Favorite"></input>
							</form>
							<br>
							<br>
						</div>

						<div id="demo" class="collapse">
							<form id="deleteFavorite" role="form" method="get" action="/deleteFavorite">
				    		<div class="form-group">
				      		<label for="name">Location</label>
				      		<input type="text" class="form-control" id="city" placeholder="Name of location" name="deleteLocName">
				    		</div>
								<br>
				    		<input type="submit" id="submitBtn" class="w3-button w3-hover-teal " value="Delete Favorite"></input>
							</form> -->

							<!-- Add Option 2 -->


							<!-- Button to Open the Modal -->
							<button type="button" class="w3-button w3-hover-teal" data-toggle="modal" data-target="#myModal">
								Edit
							</button>
							<br>
							<br>

							<!-- The Modal -->
							<div class="modal" id="myModal">
								<div class="modal-dialog">
									<div class="modal-content">

										<!-- Modal body -->
										<div class="modal-body">
											<form id="addFavorite" role="form" method="get" action="/addFavorite">
								    		<div class="form-group">
								      		<label for="name">Location</label>
								      		<input type="text" class="form-control" id="city" placeholder="Name of location" name="locName">
								    		</div>
								    		<input type="submit" id="submitBtn" class="w3-button w3-hover-teal " value="Add Favorite"></input>
											</form>

											<form id="deleteFavorite" role="form" method="get" action="/deleteFavorite">
								    		<div class="form-group">

												<p>_________________________________________________</p>
												<br>

								      		<label for="name">Location</label>
								      		<!-- <input type="text" class="form-control" id="city" placeholder="Name of location" name="deleteLocName"> -->

													<select class="form-control" placeholder="Name of location" name="deleteLocName">
														{{#each locs}}
														{{#if name}}
														<option>{{name}}</option>
														{{/if}}
											 			{{/each}}
													</select>

								    		</div>
												<br>
								    		<input type="submit" id="submitBtn" class="w3-button w3-hover-teal " value="Delete Favorite"></input>
											</form>

										</div>

										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										</div>

									</div>
								</div>
							</div>

							<br>
							<br>
						</div>
					</div>
					</div>

		<!-- Tabs -->
		<footer class="w3-row w3-theme" id="bottomBar">
			<!-- <div class="w3-row"> -->
			<div class="resizeButton">
			  <a href="/home" class="w3-button w3-hover-teal " role="button" id="bottomButton"><i class="fa fa-home"></i><br/>Home</a>
			  </div>
			  <div class="resizeButton">
			  <a href="/favoriteLocs" class="w3-button w3-hover-teal " role="button" id="bottomButton"><i class="fa fa-star"></i><br/>Favorite</a>
			  </div>
			  <div class="resizeButton2">
			  <a href="/studyGroups" class="w3-button w3-hover-teal " role="button" id="bottomButton"><i class="fa fa-users"></i><br/>Study Groups</a>
			  </div>
			  <!-- <button type="button" onclick="favoriteMap()" class="w3-button w3-hover-teal" id="bottomButton">Favorite</button> -->
<!-- 			  <button type="button" onclick="studyGroupsMap()" class="w3-button w3-hover-teal " id="bottomButton">Study Groups</button> -->
				<div class="resizeButton">
			  		<a href="/profile" class="w3-button w3-hover-teal " role="button" id="bottomButton"><i class="fa fa-user"></i><br/>Profile</a>
			   </div>
			<!-- </div> -->
		</footer>

	</body>
</html>
